* {
  padding : 0 ;
  margin : 0
}
.m-main {
  width: 100%;
  padding-top:50px;
}

.m-main-banner {
  width : 100%;
  height : 260vw;
  background-image: url('https://image.istarbucks.co.kr/upload/common/img/main/2022/m_2022_Summer1_main_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.m-slogan{
  padding: 60px 0;
  width : 80%;
  height : auto;
  margin : 0 auto;
}

.m-main-inner{
  width: 99%;
  margin: 0 auto;
  position : relative;
}

.m-main-slogan {
  width : 110%;
  height : 30vw;
  background-image: url('https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_main_slogun.png');
  background-repeat:no-repeat;
  background-size: contain;
  
}

.m-btn-slogan{
  display:block;
  margin : 15px auto;
  border: solid 2px #d73a7a;
  border-radius: 5px;
  padding : 2% 3%;
  font-size: 12px;
  font-weight: bold;
  color : #d73a7a;
  background-color: transparent;
  z-index: 10;
}

.m-btn-slogan:hover {
  color: #ffffff;
  background: #d73a7a;
  text-decoration: underline;
}

.m-new{
  width : 100%;
  height : 185vw;
}

.m-new-one {
  width : 80%;
  z-index: 1;
  position: absolute;
  right : 10%;
}
.m-new-two {
  width : 95%;
  padding: 0;
  z-index: 1;
  position: absolute;
  top : 40%;
  left : 5%;

}
.m-new-three {
  width : 80%;
  padding: 0;
  z-index: 1;
  top : 65%;
  left : 10%;
  position: absolute;
}

.banner-line {
  display : flex;
}

.notion{
  width : 55%;
  background-color: black;
  color : white;
  text-align :right;
  padding : 15px;
  font-size : 17px;
}

.promotion{
  width : 40%;
  padding : 15px;
  font-size : 17px;
}

.m-starbucks-rewards {
  background-color : #1E3932;
  width : 100%;
  padding : 20px 0;
}

.m-rewards {
  width : 90%;
  margin : 0 auto;
  text-align: center;
}

.m-rewards-logo {
  margin : 15px;
}
.m-rewards-img {
  width : 190px;
}

.m-rewards-content {
  width : 100%;
  border: solid 2px orange;
}

.m-rewards-join {
  border-bottom : solid 1px #4B615B;
  padding: 10px 0;

}

.m-rewards-font-bold {
  font-weight: bold;
  font-size : 14px;
  color : white;
  padding : 2px;
}

.m-rewards-font {
  font-size : 12px;
  color : white;
  padding: 2px;
}

.m-rewards-join-btn {
  background-color: #00704a;
  padding : 5px 50px;
  font-size: 14px;
  margin : 10px;
  border-radius: 2px;
  border: solid 2px #00704a;
  color : white;
}

.m-rewards-login-btn {
  background-color : transparent;
  padding : 5px 60px;
  font-size: 14px;
  border-radius: 2px;
  color : white;
  border: solid 2px #ffffff;

}

.m-rewards-login-btn:hover ,
.m-rewards-join-btn:hover,
.m-giftcard-btn:hover {
  text-decoration: underline;
}


.m-rewards-giftcard-text {
  color : white;
  font-size: 12px;
}

.m-giftcard-btn {
  border : solid 2px #ffffff;
  font-size : 16px;
  padding : 10px 22px;
  border-radius: 5px;
  background-color: transparent;
  color : white;
}
