
.main {
  display: inline;
  padding: 5px 25px 40px 25px;
  color : #505050;
  font-size:15px;
}

.bottom-menu > ul{
  height: 60px;
  float : left;

}

a {
  text-decoration: none;
  color : #505050;
}

.main:hover a {
  text-decoration: underline;
  color:#40A940;
}

.main:hover {
  background-color: #323232;
}

.menu2 {
  position : absolute;
  top : 120px;
  left : 0;
  width : 100vw;
  display:none;

}

.main:hover .menu2{
  display:block;
  background-color: #323232;
}

.sub {
  max-width: 1100px;
  margin : 0 auto;
  padding : 10px;
  display: flex;
  flex-wrap: wrap;
}
.content {
  width : 250px;
}
.categoryTitle {
  font-size : 15px;
  font-weight: bold;
  color : white;
  margin : 15px;
}

.category{
  font-size:12px;
  color : #c8c8c8;
  margin : 10px 15px;
}